node_modules/
.DS_Store
*.log
.vscode/
.env
AppData/
Configuración local/
Cookies/
Datos de programa/
Documents/
Entorno de red/
Impresoras/
Menú Inicio/
Mis documentos/
Plantillas/
Reciente/
SendTo/
Music/
OneDrive/
Searches/
Videos/
Proyecto Final/
hackaton/
Saved Games/
Downloads/
Favorites/
Links/
Contacts/
*.TM.blf
*.TMContainer*
*.DAT
*.LOG*
*.ini
